.directory-menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

// Sm Breakpoint
@media only screen and (max-width: 600px) {
  .directory-menu {
    grid-template-columns: 1fr;
  }
}
